body{
    background-color: black;
}

#pin-number{
    width: 380px;
    margin: 200px auto;
    /* background-color: purple; */
}


#pin-number input{
    display: block;
    /* margin: auto; */
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    box-shadow: 4px 4px 5px orangered;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: large;
}

#pin-number button{
    display: block;
    margin: 20px auto;
    width: 50%;
    border-width: 0px;
    border-radius: 5px;
    height: 40px;
    box-shadow: 4px 4px 5px green;
    color: white;
    font-weight: bolder;
    font-size: large;
    background: transparent;
    cursor: pointer;
}

@media screen and (max-width: 380px){
    #pin-number{
        width: 95%;
    }
}

#pin-number input:focus{
    outline: none;
}