*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav{
    position: relative;
    height: 65px;
    background-color: black;
}

#navigation-links{
    height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

#navigation-links li{
    margin-right: 20px;
    font-weight: bolder;
    font-size: large;
}

#navigation-links a{
    color: white;
    text-decoration: none;
}

#navigation-links li:nth-of-type(1){
    position: absolute;
    left: 10px;
}

#navigation-links li:nth-of-type(2){
    position: absolute;
    left: 35px;
}
